.card {
  display: flex;
  background-color: var(--clr-cardBackground);
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: left;
}

.image {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.text,
.title,
.caption {
  margin: 1rem;
}

.caption {
  color: #aaa;
  font-size: 0.8rem;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
  }
  .image {
    height: 50%;
    width: 100%;
  }
}
