.characterCard {
  display: flex;
  background-color: var(--clr-cardBackground);
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: left;
}

.characterCard img {
  height: 100%;
  max-width: 50%;
  object-fit: cover;
}

.characterCard p,
.characterCard h3,
.characterCard h6 {
  margin: 1rem;
}

.characterCard h6 {
  color: #aaa;
  font-size: 0.8rem;
}
